/* Button filled  ---------------*/

.mdc-button--raised {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mdc-button--raised, .mdc-button--unelevated {
    padding: 0 16px 0 16px;
}
.mdc-button {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: 0.08929em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 8px 0 8px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    height: 36px;
    border: none;
    outline: none;
    line-height: inherit;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 4px;
}

/* image list -----------*/

  .masonry-image-list {
    -webkit-column-count: 5;
            column-count: 5;
    -webkit-column-gap: 16px;
            column-gap: 16px;
    max-width: 900px;
  }
  .masonry-image-list .mdc-image-list__item {
    margin-bottom: 16px;
  }

  @media (max-width: 599px) {
    .standard-image-list .mdc-image-list__item {
      width: calc(100% / 3 - 4.3333333333px);
      margin: 2px;
    }

    .masonry-image-list {
      -webkit-column-count: 3;
              column-count: 3;
      -webkit-column-gap: 16px;
              column-gap: 16px;
    }
    .masonry-image-list .mdc-image-list__item {
      margin-bottom: 16px;
    }
  }

  .mdc-image-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
  }

  .mdc-image-list__item,
  .mdc-image-list__image-aspect-container {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .mdc-image-list__item {
    list-style-type: none;
  }

  .mdc-image-list__image {
    width: 100%;
  }

  .mdc-image-list__image-aspect-container .mdc-image-list__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .mdc-image-list__image {
    border-radius: 0;
  }

  .mdc-image-list__supporting {
    color: rgba(0, 0, 0, 0.87);
    /* @alternate */
    color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px 0;
    line-height: 24px;
  }

  .mdc-image-list__label {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.009375em;
    text-decoration: inherit;
    text-transform: inherit;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .mdc-image-list--masonry {
    display: block;
  }
  .mdc-image-list--masonry .mdc-image-list__item {
    -webkit-column-break-inside: avoid;
            break-inside: avoid-column;
  }
  .mdc-image-list--masonry .mdc-image-list__image {
    display: block;
    height: auto;
  }
