/* Youtube player ---------------- */

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe,
.youtube-player object,
.youtube-player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("/imagenes/TxzC70f.png") no-repeat;
    cursor: pointer;
}
/* Alternativa 2 de player responsive youtube  */

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Swiper ------------------------- */
.swiper-wrapper {
    width: 80vw;
    overflow: visible;
}

.swiper-container {
    width: 100vw;
    overflow: hidden;
    /* border: 1px solid red; */
}

/* .swiper-slide.swiper-slide-active {
    opacity: 1;
    transition: all 1s;
}

.swiper-slide {
    opacity: 0.7;
    transition: all 1s;
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'rubik';
}

body {
    background-color: whitesmoke;
}

nav {
    background-color: rgb(17, 17, 17);
    position: fixed;
    bottom: 0px;
    z-index: 90;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

nav img {
    display: block;
    height: 1.5rem;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

header {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    padding: 0px 20px;
    margin-bottom: 20px;
}

header h1, header h2 {
    text-align: left;
    margin-bottom: 1rem;
}

header h1 {
    font-size: 2.5rem;
}

header h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
    line-height: 1.3rem;
}

/* Section ----------------- */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 20px 0px;

}

/* Article -------------- */

article {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
}

article h1, article p, img {
    padding-bottom: 1em;
}

article a {
    text-decoration: none;
    color: black;
    display: inline-block;
    border: none;
    padding: 0.5rem;
    line-height: 0.5rem;
    background-color: ghostwhite;
}

footer {
    background-color: gray;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
}

form>* {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

form [name='name'], [name='email'] {
    border: none;
    width: 100%;
    background: white;
}

.check-text {
    padding-left: 10px;
}

.check-text a {
    text-decoration: none;
}

.container-privacidad {
    display: flex;
}

/* .container-privacidad>*{
    display: flex;
    border: 1px solid red;
} */

/* stile del check -------------------------*/

.checkbox {
    --background: #fff;
    --border: #D1D6EE;
    --border-hover: #BBC1E1;
    --border-active: #1E2235;
    --tick: #fff;
    position: relative;
}

.checkbox input, .checkbox svg {
    width: 21px;
    height: 21px;
    display: block;
}

.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}

.checkbox input:hover {
    --s: 2px;
    --b: var(--border-hover);
}

.checkbox input:checked {
    --b: var(--border-active);
}

.checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
    transform: scale(var(--scale, 1)) translateZ(0);
}

.checkbox.path input:checked {
    --s: 2px;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.checkbox.path input:checked+svg {
    --a: 16.1 86.12;
    --o: 102.22;
}

.checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    -webkit-transition: stroke-dasharray .6s, stroke-dashoffset .6s;
    transition: stroke-dasharray .6s, stroke-dashoffset .6s;
}

.checkbox.bounce {
    --stroke: var(--tick);
}

.checkbox.bounce input:checked {
    --s: 11px;
}

.checkbox.bounce input:checked+svg {
    -webkit-animation: bounce .4s linear forwards .2s;
    animation: bounce .4s linear forwards .2s;
}

.checkbox.bounce svg {
    --scale: 0;
}

@-webkit-keyframes bounce {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    /* grid-gap: 24px; */
}

/* Modal ------------------- */

#modal1, #modal2, #modal3, #modal4, #modal5, #modal6 {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

#modal1:target, #modal2:target, #modal3:target, #modal4:target, #modal5:target, #modal6:target {
    background-color: cadetblue;
    top: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

article.modal {
    border-radius: 0px;
    display: flex;
    align-items: center;
}

article div.x-container {
    position: relative;
    background-color: chartreuse;
    z-index: 210;
}

article.modal div.container {
    background-color: gainsboro;
    padding: 20px;
    overflow: auto;
    height: 90vh;
    width: 95vw;
}

a.x-button {
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    padding: 0.5rem;
    background-color: green;
    color: white;
    line-height: 1rem;
    font-weight: 700;
}

article.modal img {
    height: auto;
    max-width: calc(100vw - 60px);
}


