.swiper-wrapper {
    width: 80vw;
    overflow: visible;
}

.swiper-container {
    width: 100vw;
    overflow: hidden;
    /* border: 1px solid red; */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'rubik';
}

body {
    background-color: whitesmoke;
}

nav {
    background-color: rgb(33, 231, 165);
}

header {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
}

header h1, header h2 {
    text-align: left;
}

header h1 {
    font-size: 2.5rem;
}

header h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
    line-height: 1.3rem;
}

/* Section ----------------- */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

/* Article -------------- */

article {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
}

article h1, article p {
    padding-bottom: 1em;
}

article a {
    text-decoration: none;
    color: black;
    display: inline-block;
    border: none;
    padding: 0.5rem;
    line-height: 0.5rem;
    background-color: ghostwhite;
}

footer {
    background-color: gray;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
}

form>* {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

form [name='name'], [name='email'] {
    border: none;
    width: 100%;
    background: white;
}

.check-text{
    padding-left: 10px;
}
.check-text a{
    text-decoration: none;
}

.container-privacidad{
    display: flex;
}

/* .container-privacidad>*{
    display: flex;
    border: 1px solid red;
} */


/* stile del check -------------------------*/

.checkbox {
    --background: #fff;
    --border: #D1D6EE;
    --border-hover: #BBC1E1;
    --border-active: #1E2235;
    --tick: #fff;
    position: relative;
}

.checkbox input, .checkbox svg {
    width: 21px;
    height: 21px;
    display: block;
}

.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}

.checkbox input:hover {
    --s: 2px;
    --b: var(--border-hover);
}

.checkbox input:checked {
    --b: var(--border-active);
}

.checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
    transform: scale(var(--scale, 1)) translateZ(0);
}

.checkbox.path input:checked {
    --s: 2px;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.checkbox.path input:checked+svg {
    --a: 16.1 86.12;
    --o: 102.22;
}

.checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    -webkit-transition: stroke-dasharray .6s, stroke-dashoffset .6s;
    transition: stroke-dasharray .6s, stroke-dashoffset .6s;
}

.checkbox.bounce {
    --stroke: var(--tick);
}

.checkbox.bounce input:checked {
    --s: 11px;
}

.checkbox.bounce input:checked+svg {
    -webkit-animation: bounce .4s linear forwards .2s;
    animation: bounce .4s linear forwards .2s;
}

.checkbox.bounce svg {
    --scale: 0;
}

@-webkit-keyframes bounce {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.grid {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    /* grid-gap: 24px; */
  }

  /* Modal ------------------- */

#modal1, #modal2, #modal3, #modal4, #modal5, #modal6{
    display: none;
}

#modal1:target,#modal2:target{
    background-color: cadetblue;
    display: block;
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

article.modal{
    border-radius: 0px;
    display: flex;
    align-items: center;
}

article.modal div.container{
    position: relative;
    background-color: gainsboro;
    padding: 20px;
    overflow: auto;
}

div.container a{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.5rem;
    background-color: black;
    color: white;
    line-height: 1rem;
    font-weight: 700;
}
