/* Youtube player ---------------- */

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.youtube-player-container {
    min-width: 300px;
    width: calc(100vw - 2.5rem);
    height: auto;
    display: block;
    margin-bottom: 2rem;
    -moz-box-shadow: 0px 89px 155px -65px rgba(0,0,0,0.75);
    box-shadow: 0px 30px 60px -20px rgba(0,0,0,0.75);
}

.youtube-player iframe, .youtube-player object, .youtube-player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img{
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.youtube-player img:hover {
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    /* background-color: black; */
    background: url("/imagenes/TxzC70f.png") no-repeat;
    cursor: pointer;
}

/* Swiper ------------------------- */

:root{
--swiper-theme-color: #2e2e2f;
}

.swiper-wrapper {
    width: calc(100vw - 2.5rem);
}

.swiper-container {
    width: 100vw;
    overflow: hidden;
    padding: 2rem 0px;
    margin-top: 2rem;
}

.swiper-slide.swiper-slide-active {
    opacity: 1;
    background-color: gainsboro;
}

.swiper-slide.swiper-slide-next, .swiper-slide.swiper-slide-prev {
    background-color: gray;
    opacity: 0.7;
}

/* pagination bullets  */
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 5px;
    color: #3f3f3f;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'rubik';
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}

body {
    background-color: whitesmoke;
}

nav {
    background-color: rgb(17, 17, 17);
    position: fixed;
    bottom: 0px;
    z-index: 90;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

nav img {
    display: block;
    height: 1.5rem;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

header {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/imagenes/hermomobile4.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: cover;
    padding: 2rem 20px;
    margin-bottom: 2rem;
}

header h1, header h2 {
    text-align: left;
    margin-bottom: 0.5rem;
}

header h1 {
    font-family: 'helvetica neue';
    font-weight: 500;
    font-size: 2.5rem;
    width: 200px;
    /* text-align: center; */
}

header h2 {
    font-family: 'work sans';
    font-weight: 300;
    width: 200px;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    /* text-align: center; */
}

header a {
    font-family: 'work sans';
    font-weight: 500;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #ff8400;
    color: rgb(255, 255, 255);
}

p {
    font-size: 1rem;
    line-height: 1.3rem;
}

/* Section ----------------- */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 2rem 0rem;
}

/* Article -------------- */

article {
    background-color: gainsboro;
    border-radius: 8px;
}

article>div.miniature-container {
    height: 200px;
    overflow: hidden;
    margin-bottom: 1rem;
    position: relative;
}

article img.miniature {
    border-radius: 8px;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

article.swiper-slide {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

article.swiper-slide .container {
    padding: 0rem 1rem;
}

article>div.miniature-container>div {
    position: absolute;
    bottom: 0px;
    color: white;
    margin-left: 1rem;
}

article>div.miniature-container h1 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
    text-shadow: 1px 1px 5px black;
}

article>div.miniature-container h2 {
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 1px 1px 5px black;
    margin-bottom: 1rem;
}

article h1, article p, img {
    margin-bottom: 0.8rem;
}

article div.cinta-opciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

article .cinta-opciones button {
    padding: 0.2rem;
}

article .cinta-opciones span {
    color: rgb(63, 63, 63);
    padding: 0px 0.7rem 0 0rem;
}

article .cinta-opciones span.text-button{
    font-weight: 500;
    letter-spacing: 0.15rem;
}

footer {
    background-color: gray;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
}

form>* {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

form [name='name'], [name='email'] {
    border: none;
    width: 100%;
    background: white;
}

.check-text {
    padding-left: 10px;
}

.check-text a {
    text-decoration: none;
    color: rgb(21, 21, 107);
}

.container-privacidad {
    display: flex;
}

/* stile del check -------------------------*/

.checkbox {
    --background: #fff;
    --border: #D1D6EE;
    --border-hover: #BBC1E1;
    --border-active: #1E2235;
    --tick: #fff;
    position: relative;
}

.checkbox input, .checkbox svg {
    width: 21px;
    height: 21px;
    display: block;
}

.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}

.checkbox input:hover {
    --s: 2px;
    --b: var(--border-hover);
}

.checkbox input:checked {
    --b: var(--border-active);
}

.checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
    transform: scale(var(--scale, 1)) translateZ(0);
}

.checkbox.path input:checked {
    --s: 2px;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.checkbox.path input:checked+svg {
    --a: 16.1 86.12;
    --o: 102.22;
}

.checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    -webkit-transition: stroke-dasharray .6s, stroke-dashoffset .6s;
    transition: stroke-dasharray .6s, stroke-dashoffset .6s;
}

.checkbox.bounce {
    --stroke: var(--tick);
}

.checkbox.bounce input:checked {
    --s: 11px;
}

.checkbox.bounce input:checked+svg {
    -webkit-animation: bounce .4s linear forwards .2s;
    animation: bounce .4s linear forwards .2s;
}

.checkbox.bounce svg {
    --scale: 0;
}

@-webkit-keyframes bounce {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    /* grid-gap: 24px; */
}

/* Modal ------------------- */

#modal1, #modal2, #modal3, #modal4, #modal5, #modal6 {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

#modal1:target, #modal2:target, #modal3:target, #modal4:target, #modal5:target, #modal6:target {
    background-color: cadetblue;
    top: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

article.modal {
    border-radius: 0px;
    display: flex;
    align-items: center;
}

article div.x-container {
    position: relative;
    background-color: chartreuse;
    z-index: 210;
}

article.modal div.container {
    background-color: gainsboro;
    padding: 20px;
    overflow: auto;
    height: 85vh;
    width: 95vw;
}

article.modal div.container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0px;
    padding-bottom: 0.3rem;
}

article.modal div.container h2 {
    text-align: center;
    font-size: 1rem;
    font-variant: normal;
    font-weight: normal;
    padding-bottom: 0.8rem;
    letter-spacing: 0.2rem;
}

article.modal div.container p {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

a.x-button {
    text-decoration: none;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    /* padding: 0.5rem; */
    background-color:#dcdcdc;
    color: black;
    /* line-height: 1rem; */
    font-size: 2rem;
    font-weight: 700;
    border-radius: 50%;
}

article.modal img {
    height: auto;
    max-width: calc(100vw - 60px);
}

article.transparent-card {
    background-color: transparent;
}

.margin-1-5rem {
    margin: 0rem 1.25rem;
}

/* //TODO #2 Probando generador de github issue en vscode
//TODO: Prueba 2 de issue https://github.com/Pablets/Sitio-one-page/issues/2 */

/* Prueba de commit   #1*/